
#root {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  margin: 0rem;
}

header {
  width: 100%;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  background-color: rgb(113, 111, 243);
}

header > img {
  height: 4rem;
  width: auto;
}

h1 {
  font-size: 2rem;
  padding: 1rem 1rem;
  color: whitesmoke
}
main{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex: 0.1;
}
main h1{
  color: black;
  text-align: center;

}

footer {
  position: fixed;
  bottom: .5rem;
  text-align: center;
  padding: 1rem 1rem;
  color: rgb(62, 57, 185);
}